/pic16f887/DIRECIONAMIENTO/ESTEROSCOPICA/nbproject/private/
/pic16f887/DIRECIONAMIENTO/ESTEROSCOPICA/dist/default/
/pic16f887/DIRECIONAMIENTO/ESTEROSCOPICA/build/default/
/pic16f887/DIRECIONAMIENTO/ESTEROSCOPICA_MATRIZ/nbproject/private/
/pic16f887/DIRECIONAMIENTO/ESTEROSCOPICA_MATRIZ/build/default/
/pic16f887/DIRECIONAMIENTO/ESTEROSCOPICA_MATRIZ/dist/default/